body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    resize: none;
}
.navbar {
    background-color: #8D745E;
}


/* tela inicial  */
.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rectangular-shape {

    background-color: #A57A53;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

#btnlogin {
    background-color: transparent;
    border-color: white;
    color: white;
}

#btnComece {
    background-color: #A57A53;
    color: white;
    margin-top: 10px;
    padding-right: 60px;
    padding-left: 60px;
}

#btnDemo {
    background-color: transparent;
    border-color: white;
    color: white;
    margin-top: 10px;
}

/* login - LOGIN */

.bg-image {
    background-image: url('/assets/login.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 20vw;
    max-width: 50vw;
}

.esqueceuSenha {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    font-weight: bold;
}

/*Geral*/

input[type=email],
input[type=password] {
    font-size: 25px;
    width: 100%;
    padding: 10px 5px 5px 20px;
    background-color: #CFCFCF;
    border: none;
    border-radius: 12px;

}

input[type=email]:focus,
input[type=password]:focus {
    background-color: #CFCFCF;
}

input[type=email]::placeholder,
input[type=password]::placeholder {
    color: white;

}

label {
    font-size: 20px;
}

/* login -recuperar Senha*/
.center-image {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    padding-bottom: 10px;
    width: 100px;
}

/*login - Perfil */
input[type=text],
#select {
    font-size: 20px;
    width: 100%;
    padding: 10px 5px 5px 20px;
    border-radius: 15px;
    background-color: white;

}

/*login - CADASTRAR */
.corner-image {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100px;
}

#titulo {
    padding-top: 90px;
    padding-left: 50px;
}

#subtitulo {
    color: blue;
}


/* Menu*/

.button-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: auto;
}

.button {
    display: inline-block;
    margin: 20px;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #8D745E;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.button img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

